Options -MultiViews -Indexes
RewriteEngine On

# Permite acesso direto a arquivos e diretórios que existem (css, js, imagens)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Tudo o mais vai para o front controller
RewriteRule ^ index.php [QSA,L]
